// buttons.scss
@mixin btn {
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  /* Hover state */
  &:hover {
    background-color: #2b6cb0; /* Tailwind hover:bg-blue-700 */
  }
}

.btn {
  @include btn;
}

