# Ignore everything
*

# Exclude .gitignore from being ignored
!.gitignore

# Include specific wp-content directories
!
!public
!public/wp-content/
!public/wp-content/mu-plugins/
!public/wp-content/plugins/
!public/wp-content/themes/

# Include everything within specific wp-content directories
!public/wp-content/mu-plugins/**
!public/wp-content/plugins/**
!public/wp-content/themes/**

# Remove specific plugins
public/wp-content/plugins/w3-total-cache
public/wp-content/themes/twentytwentyfour

.DS_Store
node_modules